<nav class="navbar is-spaced">
  <div class="container">
    <div class="navbar-brand">

    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <h1>When To Wake Up?</h1>
      </div>
      <div class="navbar-end">
        <p>Check out our <a href="#" class="button is-small">
          <fa-icon [icon]="faGithub"></fa-icon>&nbsp;Github</a></p>
      </div>
    </div>
  </div>
</nav>

<div class="hero">
  <div class="container">

    <div class="hero-body has-text-centered">

      <div class="columns">
        <div class="column">
          <p>I want to wake up by...</p>

        </div>
      </div>

      <div class="columns">
        <div class="column has-text-centered">
          <app-when-input></app-when-input>
        </div>
      </div>

      <div class="columns">
        <div class="column has-text-centered">
          <app-when-to-sleep></app-when-to-sleep>
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
